<h1>Bienvenido</h1>
<div class="row g-3">
    <div class="col">
        <%= nombre %>
    </div>
    <div class="col">
        <button class="btn btn-outline-danger" onclick="location.href='/logout'">Desloguearse</button>
    </div>
</div>